{% extends 'Adminbase.html.twig' %}

{% block title %}New Car{% endblock %}

{% block body %}

    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="body">
                    <h1>Create new Car</h1>

                    {{ include('admin/car/_form.html.twig') }}

                    <a href="{{ path('admin_car_index') }}" class="btn bg-deep-purple waves-effect">back to list</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
