<!--== Book A Car Area Start ==-->

<div class="container">

        <div class="pick-location bookinput-item">
            <select class="custom-select" name="contract[pick_up_location]">
                <option selected>Pick-Up Location</option>
                <option value="İstanbul">İstanbul</option>
                <option value="İzmir">İzmir</option>
                <option value="Ankara">Ankara</option>
                <option value="Antalya">Antalya</option>
                <option value="Adana">Adana</option>
                <option value="Bursa">Bursa</option>
                <option value="Diyarbakır">Diyarbakır</option>
                <option value="Çorum">Çorum</option>
                <option value="Konya">Konya</option>
                <option value="Kayseri">Kayseri</option>
            </select>
        </div>
        <br><br><br><br><br>
        <div class="pick-location bookinput-item">
            <select class="custom-select" name="contract[drop_off_location]">
                <option selected>Drop-Off Location</option>
                <option value="İstanbul">İstanbul</option>
                <option value="İzmir">İzmir</option>
                <option value="Ankara">Ankara</option>
                <option value="Antalya">Antalya</option>
                <option value="Adana">Adana</option>
                <option value="Bursa">Bursa</option>
                <option value="Diyarbakır">Diyarbakır</option>
                <option value="Çorum">Çorum</option>
                <option value="Konya">Konya</option>
                <option value="Kayseri">Kayseri</option>
            </select>
        </div>
        <br><br><br><br><br>

        <div class="pick-date bookinput-item">
            <input type="date"  placeholder="Pick Date" name="contract[pick_up_date]"
                   maxlength="255"
                   required="required"
            />
        </div>
        <br><br><br><br><br>
        <div class="retern-date bookinput-item">
            <input  type="date" placeholder="Return Date" name="contract[drop_off_date]"
                   maxlength="255"
                    required="required"
            />
        </div>

    </div>