{% extends 'Adminbase.html.twig' %}

{% block title %}Edit Contract{% endblock %}

{% block body %}
    <section class="content">
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <h1>Edit Contract</h1>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">

                                    {{ include('admin/contract/_form.html.twig', {'button_label': 'Update'}) }}

                                    {{ include('admin/contract/_delete_form.html.twig') }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
