{% extends 'AdminBase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>BLANK PAGE</h2>
            </div>
        </div>
    </section>

{% endblock %}
