{% extends 'AdminBase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <section class="content" xmlns="http://www.w3.org/1999/html">

            <div class="container">
                <a class="btn btn-primary" href="/" role="button">GO HOME</a>
            </div>

    </section>

{% endblock %}
