<div class="col-md-3">
    <aside>
        <div class="widget">
            <h4 class="rheading">User Menu<span></span></h4>
            <img src="{{ asset('uploads/images/' ~ app.user.image)}}" width="200"  alt="User Image" class="img-circle" />
            <ul class="cat">
                <li><a href="/user">My Profile</a></li>
                <li><a href="/user/cars">My Booked Cars</a></li>
                <li><a href="/user/comments">My Comments</a></li>
                <li><a href="/user/reservations">My Contracts</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </aside>
</div>