<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Araç Kiralama{% endblock %}">
    <meta name="keywords" content="{% block keywords %}rent,rent a car,car{% endblock %}">
    <meta name="author" content="AliHaydar AYAR">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}{% include('home/stylesheets.html.twig') %}{% endblock %}

</head>
<body class="loader-active">

{% block preloader %}{% include('home/preloader.html.twig') %}{% endblock %}
{% block header %}{% include('home/header.html.twig') %}{% endblock %}

{% block body %}{% endblock %}

{% block footer %}{% include('home/footer.html.twig') %}{% endblock %}

<!--== Scroll Top Area Start ==-->
<div class="scroll-top">
    <img src="{{ asset('assets') }}/home/assets/img/scroll-top.png" alt="JSOFT">
</div>
<!--== Scroll Top Area End ==-->

{% block javascripts %}{% include('home/javascripts.html.twig') %}{% endblock %}

</body>
</html>
