{% extends 'HomeBase.html.twig' %}

{% block title %}{{ app.user.name }} Profile{% endblock %}


{% block body %}

    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center align-center">
                        <h2>{{ app.user.name }} Profile</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>

                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->

    <section id="maincontent" class="padding30">
        <div class="container">
            <div class="row">

                {{ include('user/usermenu.html.twig') }}

                <div class="span8">
                    <!-- start article 1 -->
                    <article class="blog-post">
                        <div class="post-heading">
                            <h3>User Comments</h3>
                        </div>
                        <div class="row">
                            <div class="span8">



                                    </div>
                                    <div class="row">
                                        <div class="span8">
                                            <div class="post-image">
                                                <a href="#"><img src="assets/img/dummies/blog1.jpg" alt=""/></a>
                                            </div>
                                            <ul class="post-meta">
                                                <li class="first"><i class="icon-calendar"></i><span>Mar 13, 2013</span>
                                                </li>
                                                <li><i class="icon-comments"></i><span><a href="#">4 comments</a></span>
                                                </li>
                                                <li class="last"><i class="icon-tags"></i><span><a href="#">Design</a>, <a
                                                                href="#">Blog</a>, <a href="#">Tutorial</a></span></li>
                                            </ul>
                                            <div class="clearfix">
                                            </div>
                                            <p>
                                                Ei eos suavitate forensibus mnesarchum. Eu est timeam vocibus, an nostro
                                                aliquam adipiscing quo. Zril equidem et quo, ad albucius scripserit sit.
                                                Vis constituto deseruisse an, interesset reprehendunt et mel, gloriatur
                                                concludaturque pro no. At ludus mediocritatem
                                                qui, no vituperata assueverit.
                                            </p>
                                            <a href="#" class="btn btn-small btn-theme">Read more</a>
                                        </div>


                            </div>
                        </div>
                    </article>
                    <!-- end article 1 -->
                </div>
            </div>
        </div>
    </section>





{% endblock %}
