<!DOCTYPE html>

<title>Edit Settings</title>

{% block body %}
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>BLANK PAGE</h2>

                <h1>Edit Settings</h1>

                {{ include('admin/settings/_form.html.twig', {'button_label': 'Update'}) }}

            </div>
        </div>
    </section>

{% endblock %}